@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

/*Background Ajustável */
@media  only screen and (min-width: 200px)
    {
        section#presentation, #portfolio{
            background-image: url(./Fundo-mobile.png)

             
        }
        a.combo,a.combo2{
            background-image:url("./botao-stream.jpg");
            background-size: 99%;
            align-items:top;
            padding: 10% 5% 8% 5%;
            border-radius: 200px 200px 200px 200px;
            position: relative;
            text-decoration: none;
        }

        a.combo2{
            bottom:350px;
            left: 1%;
        }
        
        a.combo2{
            bottom:350px;
            left: 1%;
        }
      
    }

@media only screen and (min-width: 600px)
   {  
    section#presentation, #portfolio{
            background-image: url(./Fundo-tablet.png)
         }
        a.combo,a.combo2{
            background-image:url("./botao-stream.jpg");
            background-size: 99%;
            align-items:top;
            padding: 15% 10% 13% 10%;
            border-radius: 200px 200px 200px 200px;
            position: relative;
            text-decoration: none;
        }
        a.combo{
        align-items: center;
        }
        a.combo2{
            bottom:350px;
            left: 1%;
        }
    
    }

@media only screen and (min-width: 800px)
   {
    section#presentation, portfolio{
        background-image: url(./Fundo-desktop.png)
      
         }
         a.combo,a.combo2{
            background-image:url("./botao-stream.jpg");
            background-size: 100%;
            align-items:center;
            padding: 20% 20% 20% 20%;
            border-radius: 200px 200px 200px 200px;
            position: relative;
            text-decoration: none;
        
         } 
         div a#Bot1{           
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;

         }
           
            
        
        a.combo2{
            bottom:0px;
            left: 1%;
         
        }
 
   }

   

     a.combo:hover{
        background-size:102%;
    }
    

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
}


.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Seção de apresentação */

section#presentation{     
    background-size: cover;
    background-position:initial;
       position: relative;
    z-index: 1;
}



#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
    
}

#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}



#presentation h1 span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}
#presentation h1:nth-child(1) span{
    animation-delay: .6s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 3.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 7.5s;
}
#presentation::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    background-color:black;
    opacity: 0.5;
    z-index: -1;
}

/* Seção de Portifólio */

#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#portfolio .portfolio-header h1{
    margin-bottom: 50px;
}
#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#portfolio .project-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
    color: white;
}

#portfolio .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#portfolio .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}


/* Keyframes */

@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: gold;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}

/* Media Query */
@media only screen and (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info{
        height: 100%
    }
    #portfolio .all-projects .project-img{
        height: 100%
    }
    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }


}